/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/infrastructure/secrets.tf
.cljs_rhino_repl/
resources/public/js/
log/
/.dir-locals.el
/resources/public/css/screen.css
sample-project/